<header class="jumbotron">
    <h1 class="display-3"><%= header.title %></h1>
    <p class="lead"><%= header.tagLine %></p>
    <% if(header.showButton) { %>
        <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">Houses</a></p>
        <p class="lead"><a class="btn btn-primary btn-lg" href="#" role="button">People</a></p>
    <% } %>
    

</header>