<header class="jumbotron">
    <h1 class="display-3"><%= header.title %></h1>
    <p class="lead"><%= header.tagLine %></p>
    <% if(header.showButton) { %>
        <a class="btn btn-primary btn-lg" href="/houses" role="button">Houses</a>
        <a class="btn btn-primary btn-lg" href="/person" role="button">People</a>
        <a class="btn btn-primary btn-lg" href="/religion" role="button">Religion</a>
    <% } %>
    

</header>