<div class="col">
  <div class="card">
      <img class="card-img-top" src="<%= house.sigil_img %>" alt="Card image cap">
      <div class="card-body">
          <h4 class="card-title"><%= house.house_name %></h4>
          <p class="card-text">Favourite words: <%= house.words %></p>
      </div>
  </div>
</div>