<div class="col">
  <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= religion.name %></h4>
          <p class="card-text">'<%= religion.type %>'</p>
          <p class="card-text">'<%= religion.god %>'</p>
      </div>
  </div>
</div>