    <% include ../partials/head %>
    <% include ../partials/header %>
        <section class="container">
            <!-- <p>Welcome to the wonderful world of nothing</p> -->
        </section>
    <% include ../partials/footer %>