    <% include ../partials/head %>
    <% include ../partials/header %>
    <section class="container">
        <% houses.forEach(function (houseRow) { %>
          <div class="row">
            <% houseRow.forEach(function (house) { %>
              <% include ../partials/gallery/houseCard %>
                <% }) %>
          </div>
          <% }) %>
      </section>
    <% include ../partials/footer %>