<% include ../partials/head %>
<% include ../partials/headerHome %>
    <section class="container">
        <% persons.forEach(function (personRow) { %>
            <div class="row">
              <% personRow.forEach(function (person) { %>
                <% include ../partials/gallery/personCard %>
                  <% }) %>
            </div>
            <% }) %>
    </section>
<% include ../partials/footer %>