<% include ../partials/head %>
<% include ../partials/headerHome %>
    <section class="container">
        <% religions.forEach(function (religionRow) { %>
            <div class="row">
              <% religionRow.forEach(function (religion) { %>
                <% include ../partials/gallery/religionCard %>
                  <% }) %>
            </div>
            <% }) %>
    </section>
<% include ../partials/footer %>